* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(32, 33, 36);
  margin: 0;
}
nav {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  height: 48px;
}
nav ul {
  list-style: none;
  margin-right: 20px;
}
nav ul li {
  padding-left: 10px;
  display: inline-block;
}
nav ul a {
  text-decoration: none;
  color: #fff;
}
nav ul a:hover {
  text-decoration: underline;
}
nav .svg {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-right: 4px;
  align-items: center;
}
nav .svg:hover,
nav .nav-img:hover {
  background-color: #313233;
  border-radius: 50%;
}
.logo {
  height: 245px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.logo img {
  width: 272px;
  height: 92px;
}
main {
  margin-top: 7px;
  height: 140px;
  padding: 20px;
}
.search {
  max-width: 582px;
  height: 44px;
  border: 1px solid rgb(83, 80, 80);
  margin: auto;
  border-radius: 20px;
  padding: 5px 8px 0 14px;
  display: flex;
}
.glasses {
  position: relative;
  top: 5px;
  margin-right: 10px;
}
.search input {
  all: unset;
  color: #fff;
  width: inherit;
  margin-bottom: 5px;
}
.search:hover {
  background-color: rgb(50, 50, 50);
}
.history {
  max-width: 584px;
  height: 58px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.history button {
  height: 36px;
  padding: 0px 16px;
  line-height: 27px;
  position: relative;
  margin: 30px 5px;
  background-color: #303134;
  border: 1px solid #303134;
  color: #e8eaed;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
}
.bahasa {
  height: 244px;
  font-size: 13px;
  text-align: center;
  color: rgb(189, 193, 198);
  padding: 10px 0;
  margin-top: 10px;
}
.bahasa span {
  color: #8ab4f8;
  padding-left: 10px;
  cursor: pointer;
}
.bahasa span:hover {
  text-decoration: underline;
}
.footer-1 {
  color: #9aa0a6;
  position: absolute;
  bottom: 48.6px;
  height: 48.6px;
  padding: 0 30px;
  width: 100vw;
  border-bottom: 1.5px solid rgb(60, 64, 67);
  background-color: rgb(28, 28, 28);
  font-size: 14px;
  z-index: 1000;
}
.footer-2 {
  color: #9aa0a6;
  width: 100vw;
  height: 50px;
  position: absolute;
  display: flex;
  bottom: 0;
  padding: 15px 10px;
  justify-content: space-between;
  background-color: rgb(28, 28, 28);
  font-size: 13.5px;
}
.footer-1 p {
  cursor: pointer;
}
.list span {
  cursor: pointer;
}
.list {
  padding: 5px;
}
.list span {
  padding: 15px;
}
@media screen and (max-width: 768px){
  footer .footer-1, .footer-2{
    display: none;
  }
}